/* for IDE type infer */
:root {
    --ui-colors-opacity1: rgba(0, 186, 52, 0.10);
    --ui-colors-opacity2: rgba(0, 186, 52, 0.15);
    --ui-colors-opacity3: rgba(238, 57, 17, 0.10);
    --ui-colors-opacity4: rgba(238, 57, 17, 0.15);
    --ui-colors-opacity5: rgba(238, 124, 17, 0.10);
    --ui-colors-opacity6: rgba(238, 124, 17, 0.15);
    --ui-colors-opacity7: rgba(17, 132, 238, 0.10);
    --ui-colors-opacity8: rgba(17, 132, 238, 0.15);
    --ui-colors-opacity9: rgba(0, 0, 0, 0.15);
    --ui-colors-opacity10: rgba(255, 255, 255, 0.10);
    --ui-colors-readable-tertiary: #76808f;
    --ui-colors-readable-disable: #aeb4bc;
    --ui-colors-readable-primary: #00BA34;
    --ui-colors-readable-label-normal: #EEBE11;
    --ui-colors-readable-label-active: #F1CA3C;
    --ui-colors-bg-bottom-secondary: #fafafa;
    --ui-colors-bg-secondary: #fafafa;
    --ui-colors-scene-success-opacity-normal: rgba(0, 186, 52, 0.1);
    --ui-colors-scene-success-opacity-active: rgba(0, 186, 52, 0.15);
    --ui-colors-scene-danger-opacity-normal: rgba(238, 57, 17, 0.1);
    --ui-colors-scene-danger-opacity-active: rgba(238, 57, 17, 0.15);
    --ui-colors-scene-warning-opacity-normal: rgba(238, 124, 17, 0.1);
    --ui-colors-scene-warning-opacity-active: rgba(238, 124, 17, 0.15);
    --ui-colors-scene-waiting-normal: #eebe11;
    --ui-colors-scene-waiting-active: #f1ca3c;
    --ui-colors-scene-waiting-opacity-normal: rgba(240, 185, 11, 0.1);
    --ui-colors-scene-waiting-opacity-active: rgba(240, 185, 11, 0.15);
    --ui-colors-brand-normal-hight: #009e2c;
    --ui-colors-brand-normal: #00ba34;
    --ui-colors-brand-disable: #c2eece;
    --ui-colors-brand-brand1: #E6F8EB;
    --ui-colors-brand-brand2: #C2EECE;
    --ui-colors-brand-brand3: #91E1A8;
    --ui-colors-brand-brand4: #5ED47F;
    --ui-colors-brand-brand5: #2EC659;
    --ui-colors-brand-brand6: #00BA34;
    --ui-colors-brand-brand7: #009E2C;
    --ui-colors-brand-brand8: #008425;
    --ui-colors-brand-brand9: #006A1E;
    --ui-colors-brand-brand10: #005417;
    --ui-colors-shadows-normal: 0px 2px 8px rgba(11, 14, 17, 0.16);
    --ui-colors-scene-primary-normal: #9B00FB;
    --ui-colors-scene-primary-opacity: rgba(184, 69, 255, 0.1);
    --ui-colors-scene-success-opacity: rgba(46, 209, 145, 0.1);
    --ui-colors-scene-danger-opacity: rgba(252, 110, 117, 0.1);
    --ui-colors-scene-warning-opacity: rgba(245, 182, 49, 0.1);
    --ui-colors-readable-normal: #E6E8EA;
    --ui-colors-readable-secondary: #76808F;
    --ui-colors-readable-disabled: #5E6673;
    --ui-colors-readable-border: #2E323A;
    --ui-colors-readable-white: #FFFFFF;
    --ui-colors-readable-top-secondary: #929AA5;
    --ui-colors-bg-bottom: #14151A;
    --ui-colors-bg-middle: #fff;
    --ui-colors-bg-codebox: #262D37;
    --ui-colors-bg-top-normal: #2B2F36;
    --ui-colors-bg-top-active: #2E323A;
    --ui-colors-scene-primary-active: #CD7CFF;
    --ui-colors-scene-success-normal: #02C076;
    --ui-colors-scene-success-active: #48FFB8;
    --ui-colors-scene-danger-normal: #D9304E;
    --ui-colors-scene-danger-active: #FF898F;
    --ui-colors-scene-warning-normal: #EB9E09;
    --ui-colors-scene-warning-active: #FFCE58;
    --ui-shadows-normal: 0px 4px 24px rgba(0, 0, 0, 0.08);
    --ui-fontSizes-h1: 60px;
    --ui-fontSizes-h2: 56px;
    --ui-fontSizes-h3: 40px;
    --ui-fontSizes-h4: 32px;
    --ui-fontSizes-t1: 24px;
    --ui-fontSizes-t2: 20px;
    --ui-fontSizes-b: 16px;
    --ui-fontSizes-b2: 14px;
    --ui-fontSizes-f: 12px;
    --ui-fonts-heading: Poppins,Inter,-apple-system,system-ui,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
    --ui-fonts-body: Inter,-apple-system,system-ui,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
    --ui-fonts-code: Menlo,Monaco,"Ubuntu Mono",Consolas,source-code-pro,monospace!important;
    --ui-fontWeights-normal: 400;
    --ui-fontWeights-medium: 500;
    --ui-fontWeights-semibold: 600;
    --ui-fontWeights-bold: 700;
    --ui-zIndices-hide: -1;
    --ui-zIndices-auto: auto;
    --ui-zIndices-base: 0;
    --ui-zIndices-dropdown: 1000;
    --ui-zIndices-sticky: 1100;
    --ui-zIndices-overlay: 1200;
    --ui-zIndices-modal: 1300;
    --ui-zIndices-popover: 1400;
    --ui-zIndices-toast: 1500;
    --ui-zIndices-tooltip: 1600;
    --ui-transition-property-common: background-color,border-color,color,fill,stroke,opacity,box-shadow,transform;
    --ui-transition-property-colors: background-color,border-color,color,fill,stroke;
    --ui-transition-property-dimensions: width,height;
    --ui-transition-property-position: left,right,top,bottom;
    --ui-transition-property-background: background-color,background-image,background-position;
    --ui-transition-easing-ease-in: cubic-bezier(0.4, 0, 1, 1);
    --ui-transition-easing-ease-out: cubic-bezier(0, 0, 0.2, 1);
    --ui-transition-easing-ease-in-out: cubic-bezier(0.4, 0, 0.2, 1);
    --ui-transition-duration-ultra-fast: 50ms;
    --ui-transition-duration-faster: 100ms;
    --ui-transition-duration-fast: 150ms;
    --ui-transition-duration-normal: 200ms;
    --ui-transition-duration-slow: 300ms;
    --ui-transition-duration-slower: 400ms;
    --ui-transition-duration-ultra-slow: 500ms;
}
