/* TODO convert to chakra style */
.loading-dot {
  display: inline-block;
  text-align: left;
  overflow: hidden;
  height: 1em;
  line-height: 1em;
  vertical-align: -0.25em;
}
.loading-dot::before {
  display: block;
  content: '...\A..\A.';
  white-space: pre-wrap;
  animation: loading-dot 2s infinite step-start both;
}
@keyframes loading-dot {
  33% {
    transform: translateY(-2em);
  }
  66% {
    transform: translateY(-1em);
  }
}
